<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body data-barba="wrapper">
        <%- include("../partials/nav-header.ejs") %>
        
        <main data-barba="container" data-barba-namespace="podcast">
          <section class="podcast-container">
            <!-- LEFT SIDE -->
            <div class="podcast-nav">
              <a class="back mobile-hide" href="..">&larr; Go back</a>
              <ul class="episode-list hide-sb">
                <a href="#podcast-ep" class="selected">EPISODE 01</a>
              </ul>
            </div>
            <!-- RIGHT SIDE -->
            <div class="the-episode">
              <div class="podcast-burger">
                <p>More Episodes   <i class="lni lni-plus"></i></p>  
              </div>
              <div class="podcast-window">
                <ul class="episode-list">
                  <h1>Episode list</h1>
                  <a href="#podcast-ep" class="selected">EPISODE 01</a>
                </ul>
              </div>  
              <div class="display-episode">
                <a class="back desktop-hide" href="..">&larr; Go back</a>
                <div class="clickable-player" id="podcast-ep">
                  <div class="player-wrapper">
                    <p>EPISODE 01</p>
                    <h1>Justin Zheng</h1>
                    <div class="button-wrapper">
                      <button class="episode-play"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.001 320.001"  xml:space="preserve">
                        <path d="M295.84,146.049l-256-144c-4.96-2.784-11.008-2.72-15.904,0.128C19.008,5.057,16,10.305,16,16.001v288  c0,5.696,3.008,10.944,7.936,13.824c2.496,1.44,5.28,2.176,8.064,2.176c2.688,0,5.408-0.672,7.84-2.048l256-144  c5.024-2.848,8.16-8.16,8.16-13.952S300.864,148.897,295.84,146.049z"/>
                        </svg></button>
                    </div>
                  </div>
                  <!-- Insert social media/podcast links here -->
                    <img loading="lazy" src="/content/podcast/ep1.jpg" alt="innected podcast image" />
                </div>
                <div class="episode-content">
                  <div class="episode-description">
                    <h1>Why games are the future of content</h1>
                    <p>Welcome everybody to the first episode of Innected. Today we are having a wonderful talk with Justin Zheng , or JZ. He's the Founder of Matrix , a company involved in using the Videogame reward system to revolutionize the way Content Creation is handled.</br> JZ is only 19 but at his age, he has already won an Accelerator project and is now part of Village Global.</br>The discussion starts with some company and idea-related topics, then moving towards ideas for others, whose dream is to build something on their own.</br></br>We hope you'll enjoy our first episode, and we will be waiting for you in our Discord. Have a good watch</p>
                  </div>
                  <div class="additional-content">
                    <div class="episode-links">
                     <h5>RELATED LINKS</h5>
                     <ul>
                      <a href="https://mtx.gg" target="_blank">Matrix website &rarr;</a>
                      <a href="https://twitter.com/jzlegion" target="_blank">Justin's Twitter &rarr;</a>
                     </ul>  
                    </div>
                    <div class="more-streams">
                      <h5>OTHER PLATFORMS</h5>
                     <ul>
                      <a href="https://www.youtube.com/watch?v=GRAD2PCKZug&t" target="_blank">Youtube &rarr;</a>
                      <a href="https://open.spotify.com/episode/2zcARn9TI4GsytXeia2iHD?si=abc4539c1d9e4ad6" target="_blank">Spotify &rarr;</a>
                     </ul>  
                    </div>
                    <div class="guests">
                      <h5>GUESTS</h5>
                     <ul>
                      <li >Justin Zheng</a>
                     </ul>  
                    </div>
                  </div>
                </div>
                  <%- include("../partials/footer.ejs") %>
               </div>
            </div>
            <div class="expanded-player">
              <div class="window-controls">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/></svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z"/></svg> -->
              </div>
              <iframe loading="lazy" class="iframe-player" src="https://www.youtube.com/embed/GRAD2PCKZug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="darkener"></div>
            </div>
          </section>
            <%- include("../partials/scripts.ejs") %> 
          </main>
          <%- include("../partials/nav.ejs") %>
          <%- include("../partials/cursor.ejs") %> 
          <%- include("../partials/anim-slides.ejs") %> 
    </body>
</html>
<!-- Various svg -->

<!-- Apple -->
<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;fill: black;" xml:space="preserve">
  <path class="st0" d="M490,433.2c-12.3,29.1-36.9,51.2-67.2,60.2c-19.7,4.9-40.1,7.1-60.4,6.4H137.6c-20.3,0.7-40.7-1.4-60.4-6.4   c-30.3-9-54.9-31.1-67.2-60.2c-7.6-22.8-11-46.9-9.9-70.9l0,0V137.5l0,0c-1.1-24,2.3-48,9.9-70.8C22.3,37.6,47,15.5,77.2,6.5   c19.7-4.9,40.1-7.1,60.4-6.4h224.8c20.3-0.7,40.7,1.4,60.4,6.4c30.3,9,54.9,31.1,67.2,60.2c7.6,22.8,11,46.8,9.9,70.8v224.8   C500.9,386.3,497.6,410.4,490,433.2z M286.2,287.4c-9.9-9-22.9-13.7-36.2-13c-13.3-0.7-26.4,4-36.2,13c-3.8,3.9-6.2,9-6.6,14.4   c-1,12.6-0.7,25.3,0.8,37.8c1.3,15.3,3.8,35.7,6.9,56.5c1.4,9.6,3.4,19.1,6,28.5c4.8,11.6,16.7,18.7,29.2,17.4   c12.5,1.4,24.5-5.7,29.3-17.4c2.6-9.4,4.6-18.9,5.9-28.5c3.2-20.8,5.7-41.2,6.9-56.5c1.5-12.5,1.8-25.2,0.8-37.8   C292.5,296.3,290.1,291.2,286.2,287.4z M209.2,217c0,22.6,18.3,40.9,40.9,40.9c22.6,0,40.9-18.3,40.9-40.9s-18.3-40.9-40.9-40.9   l0,0C227.5,176.1,209.2,194.4,209.2,217z M249.6,55.5c-97,0.2-175.5,79.1-175.3,176.1c0.2,74.5,47.3,140.8,117.6,165.4   c1.2,0.5,2.5-0.1,3-1.3c0.2-0.4,0.2-0.8,0.1-1.3c-0.9-6-1.8-12.1-2.5-18c-0.3-2.1-1.6-3.9-3.6-4.8c-77.6-33.8-113.2-124-79.4-201.6   s124-113.2,201.6-79.4s113.2,124,79.4,201.6c-15.5,35.6-43.8,63.9-79.4,79.4c-1.9,0.9-3.3,2.7-3.6,4.8c-0.8,6-1.6,12-2.5,18   c-0.2,1.3,0.6,2.5,1.9,2.7c0.4,0.1,0.9,0,1.3-0.1c91.6-32,139.9-132.3,107.9-223.9C391.4,102.5,324.5,55.2,249.6,55.5z    M246.4,136.2c52.5-2.1,96.8,38.7,98.9,91.3c1.1,27.6-9.8,54.4-30,73.3c-1.6,1.5-2.4,3.6-2.3,5.7c0.3,6.7,0.3,13.4-0.2,20.1   c-0.1,1.3,0.9,2.4,2.1,2.5c0.5,0,1-0.1,1.5-0.4c53.7-36.6,67.6-109.8,31-163.5s-109.8-67.6-163.5-31S116.4,244,153,297.7   c8.3,12.2,18.8,22.7,31,31c1.1,0.7,2.5,0.4,3.2-0.6c0.3-0.4,0.4-0.9,0.4-1.4c-0.5-6.7-0.5-13.4-0.2-20.1c0.1-2.2-0.7-4.2-2.3-5.7   c-38.4-35.9-40.3-96.2-4.4-134.5C197.8,148,221.4,137.2,246.4,136.2z"/>
</svg> -->
<!-- Or -->
<!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="podcast" class="svg-inline--fa fa-podcast fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-license="Taken from Fontawesome library, check them out"><path fill="currentColor" d="M267.429 488.563C262.286 507.573 242.858 512 224 512c-18.857 0-38.286-4.427-43.428-23.437C172.927 460.134 160 388.898 160 355.75c0-35.156 31.142-43.75 64-43.75s64 8.594 64 43.75c0 32.949-12.871 104.179-20.571 132.813zM156.867 288.554c-18.693-18.308-29.958-44.173-28.784-72.599 2.054-49.724 42.395-89.956 92.124-91.881C274.862 121.958 320 165.807 320 220c0 26.827-11.064 51.116-28.866 68.552-2.675 2.62-2.401 6.986.628 9.187 9.312 6.765 16.46 15.343 21.234 25.363 1.741 3.654 6.497 4.66 9.449 1.891 28.826-27.043 46.553-65.783 45.511-108.565-1.855-76.206-63.595-138.208-139.793-140.369C146.869 73.753 80 139.215 80 220c0 41.361 17.532 78.7 45.55 104.989 2.953 2.771 7.711 1.77 9.453-1.887 4.774-10.021 11.923-18.598 21.235-25.363 3.029-2.2 3.304-6.566.629-9.185zM224 0C100.204 0 0 100.185 0 224c0 89.992 52.602 165.647 125.739 201.408 4.333 2.118 9.267-1.544 8.535-6.31-2.382-15.512-4.342-30.946-5.406-44.339-.146-1.836-1.149-3.486-2.678-4.512-47.4-31.806-78.564-86.016-78.187-147.347.592-96.237 79.29-174.648 175.529-174.899C320.793 47.747 400 126.797 400 224c0 61.932-32.158 116.49-80.65 147.867-.999 14.037-3.069 30.588-5.624 47.23-.732 4.767 4.203 8.429 8.535 6.31C395.227 389.727 448 314.187 448 224 448 100.205 347.815 0 224 0zm0 160c-35.346 0-64 28.654-64 64s28.654 64 64 64 64-28.654 64-64-28.654-64-64-64z"/></svg> -->
<!-- Spoty  -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" height="168px" width="168px" version="1.1" viewBox="0 0 168 168">
  <path fill="#1ED760" d="m83.996 0.277c-46.249 0-83.743 37.493-83.743 83.742 0 46.251 37.494 83.741 83.743 83.741 46.254 0 83.744-37.49 83.744-83.741 0-46.246-37.49-83.738-83.745-83.738l0.001-0.004zm38.404 120.78c-1.5 2.46-4.72 3.24-7.18 1.73-19.662-12.01-44.414-14.73-73.564-8.07-2.809 0.64-5.609-1.12-6.249-3.93-0.643-2.81 1.11-5.61 3.926-6.25 31.9-7.291 59.263-4.15 81.337 9.34 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.805c-1.89 3.075-5.91 4.045-8.98 2.155-22.51-13.839-56.823-17.846-83.448-9.764-3.453 1.043-7.1-0.903-8.148-4.35-1.04-3.453 0.907-7.093 4.354-8.143 30.413-9.228 68.222-4.758 94.072 11.127 3.07 1.89 4.04 5.91 2.15 8.976v-0.001zm0.88-23.744c-26.99-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219-1.254-4.14 1.08-8.513 5.221-9.771 29.581-8.98 78.756-7.245 109.83 11.202 3.73 2.209 4.95 7.016 2.74 10.733-2.2 3.722-7.02 4.949-10.73 2.739z"/>
 </svg> -->
<!-- Youtube -->
<!-- <i class="lni lni-youtube"></i> -->
<!-- Or -->
<!-- <svg fill="#000000" version="1.1" id="lni_lni-youtube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
  <path d="M61.7,17.1c-0.7-2.7-2.8-4.8-5.5-5.5C51.4,10.3,32,10.3,32,10.3s-19.4,0-24.2,1.3c-2.7,0.7-4.8,2.8-5.5,5.5C1,22,1,32,1,32  s0,10.1,1.3,14.9c0.7,2.7,2.8,4.8,5.5,5.5c4.8,1.3,24.2,1.3,24.2,1.3s19.4,0,24.2-1.3c2.7-0.7,4.8-2.8,5.5-5.5C63,42.1,63,32,63,32  S63,22,61.7,17.1z M25.8,41.3V22.7L41.9,32L25.8,41.3z"/>
  </svg> -->